<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Homework 2</title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <script src="js/vue.js"></script>

</head>
<body>
<div class="wrapper">
    <div class="example">

        <h2 class="modal-title">Choose your category</h2>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <button class="btn nav-link" type="button" @click="changeTab(null)">Show all</button>
            </li>
            <li class="nav-item" v-for="item in tabs">
                <button class="btn nav-link" type="button" @click="changeTab(item)" :key="item">{{ item }}</button>
            </li>
        </ul>

        <div class="card-wrapper">
            <div class="card" v-for="item in sortedItems">
                <img class="card-img-top" :src="item.img">
                <div class="card-body">
                    <span>Song: <b>{{ item.title }}</b></span>
                    <span>Artist: <b>{{ item.artist }}</b></span>
                    <span>Categories: <b>{{ item.category.join(', ') }}</b></span>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
        Vue.createApp({
        data: () => ({
            list: [
                {
                    id: 0,
                    title: "Judas",
                    artist: "Lady Gaga",
                    category: ["Trending"],
                    img: 'img/judas.jpg',
                },
                {
                    id: 1,
                    title: "Paparazzi",
                    artist: "Lady Gaga",
                    category: ["Featured", "Genres"],
                    img: 'img/paparazzi.jpg',
                },
                {
                    id: 2,
                    title: "Just Dance",
                    artist: "Lady Gaga",
                    category: ["Featured", "Trending"],
                    img: 'img/dance.jpg',
                },
                {
                    id: 3,
                    title: "Meet Me Halfway",
                    artist: "The Black Eyed Peas",
                    category: ["Workout"],
                    img: 'img/halfway.jpg',
                },
                {
                    id: 4,
                    title: "Can't Hold Us",
                    artist: "Macklemore & Ryan Lewis",
                    category: ["Most Played", "Trending"],
                    img: 'img/cant.jpg',
                },
                {
                    id: 5,
                    title: "Dark Horse",
                    artist: "Katy Perry",
                    category: ["Most Played", "New Releases"],
                    img: 'img/horse.jpg',
                },
            ],
            activeTab: null,
        }),
        computed: {
            //dynamically find all unique categories via find_uniqums(arr) method
            tabs() {
                let res = [];
                this.list.forEach(item => {
                    res.push(item.category);
                });
                return this.find_uniqums(res.flat(1));
            },
            sortedItems(){
                return this.list.filter(item => !this.activeTab || item.category.includes(this.activeTab))
            }
        },
        methods: {
            find_uniqums(arr) {
                let result = [];
                for (let str of arr) {
                    if (!result.includes(str)) {
                        result.push(str);
                    }
                }
                return result;
            },
            changeTab(tab){
                this.activeTab = tab;
            },
        },
    }).mount(".example");
</script>
</body>
</html>
